html {
  scroll-behavior: smooth;
}
body {
  background-color: #f3f3f3;
}
/* lato */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/* lancelot */
@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Lato&family=Roboto&display=swap');

/* libre franklin */
@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Lato&family=Libre+Franklin&family=Roboto&display=swap');

.font-ku1 {
  font-family: 'Lato', sans-serif;
}

.font-ku2 {
  font-family: 'Lancelot', serif;
}

.font-ku3 {
  font-family: 'Libre Franklin', sans-serif;
}
.hero {
  background-image: url('../image/image-1.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  z-index: 2;
}

.hero::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #212529ad;
  z-index: -1;
}
.hero2 {
  background-image: url('../image/model-3.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  z-index: 2;
}

.hero2::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #212529ad;
  z-index: -1;
}

.hero3 {
  background-image: url('../image/model-entah-berapa.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  background-attachment: fixed;
}

.hero3::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #212529ad;
  z-index: -1;
}

.hero4 {
  background-image: url('../image/model-ke-4-kalo-gak-sakah.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  background-attachment: fixed;
}

.hero4::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #212529ad;
  z-index: -1;
}

.btn {
  transition: 0.7s;
}

.ima-25 {
  width: 25%;
}

@media screen and (max-width: 767px) {
  .ima-25 {
    width: 50%;
  }
}



.btn-fiverr:hover {
  background-color: #3bc44e;
}
